
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
Bank/obj/Debug/net5.0/Bank.csprojAssemblyReference.cache
*.json
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
*.pdb
*.cache
*.dll
Bank/obj/Debug/net5.0/Bank.csproj.FileListAbsolute.txt
*.editorconfig
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
*.json
*.dll
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
*.dll
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
Bank/.vs/Bank/xs/UserPrefs.xml
Bank/bin/Debug/net5.0/Bank.dll
Bank/bin/Debug/net5.0/Bank.pdb
Bank/bin/Debug/net5.0/ref/Bank.dll
Bank/obj/Debug/net5.0/Bank.csproj.CoreCompileInputs.cache
Bank/obj/Debug/net5.0/Bank.csproj.FileListAbsolute.txt
Bank/obj/Debug/net5.0/Bank.csprojAssemblyReference.cache
Bank/obj/Debug/net5.0/Bank.dll
Bank/obj/Debug/net5.0/Bank.GeneratedMSBuildEditorConfig.editorconfig
Bank/obj/Debug/net5.0/Bank.pdb
Bank/obj/Debug/net5.0/ref/Bank.dll
Bank/obj/project.assets.json
Bank/obj/project.nuget.cache
Bank/.vs/Bank/xs/project-cache/Bank-Debug.json
Bank/.vs/Bank/xs/UserPrefs.xml
Bank/bin/Debug/net5.0/Bank.dll
Bank/bin/Debug/net5.0/Bank.pdb
Bank/bin/Debug/net5.0/ref/Bank.dll
Bank/obj/Debug/net5.0/Bank.csproj.CoreCompileInputs.cache
Bank/obj/Debug/net5.0/Bank.csproj.FileListAbsolute.txt
Bank/obj/Debug/net5.0/Bank.csprojAssemblyReference.cache
Bank/obj/Debug/net5.0/Bank.dll
Bank/obj/Debug/net5.0/Bank.GeneratedMSBuildEditorConfig.editorconfig
Bank/obj/Debug/net5.0/Bank.pdb
Bank/obj/Debug/net5.0/ref/Bank.dll
Bank/obj/project.assets.json
Bank/obj/project.nuget.cache
